<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulong.easypan.mappers.EmailCodeMapper">
    <update id="disableEmailCode" >
        update easypan.email_code set status = 1 where email = #{email} and status = 0;
    </update>
    <select id="SelectCodeByEmailANDCode" resultType="com.yulong.easypan.entity.pjo.EmailCode">
        select * from easypan.email_code where email = #{email} and code = #{Code};
    </select>
</mapper>