<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulong.easypan.mappers.FileInfoMapper">
    <insert id="insert">
        insert into file_info values
            (
                #{userId},
                #{fileId},
                #{fileMd5},
                #{filePid},
                #{fileSize},
                #{fileName},
                #{fileCover},
                #{filePath},
                #{createTime},
                #{lastUpdateTime},
                #{folderType},
                #{fileCategory},
                #{fileType},
                #{status},
                #{recoveryTime},
                #{delFlag}
            )
    </insert>
    <insert id="insertBatch" parameterType="com.yulong.easypan.entity.pjo.FileShare">
        INSERT INTO file_share(
        share_id,
        file_id,
        user_id,
        valid_type,
        expire_time,
        share_time,
        code,
        show_count
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.shareId},
            #{item.fileId},
            #{item.userId},
            #{item.validType},
            #{item.expireTime},
            #{item.shareTime},
            #{item.code},
            #{item.showCount}
            )
        </foreach>
    </insert>
    <update id="updateStautusAndCover">
        update file_info
        <set>
            <!-- 文件MD5 -->
            <if test="updatefile.fileMd5 != null and updatefile.fileMd5 != ''">
                file_md5 = #{updatefile.fileMd5},
            </if>

            <!-- 父级ID -->
            <if test="updatefile.filePid != null and updatefile.filePid != ''">
                file_pid = #{updatefile.filePid},
            </if>

            <!-- 文件大小 -->
            <if test="updatefile.fileSize != null">
                file_size = #{updatefile.fileSize},
            </if>

            <!-- 文件名称 -->
            <if test="updatefile.fileName != null and updatefile.fileName != ''">
                file_name = #{updatefile.fileName},
            </if>

            <!-- 封面 -->
            <if test="updatefile.fileCover != null and updatefile.fileCover != ''">
                file_cover = #{updatefile.fileCover},
            </if>

            <!-- 文件路径 -->
            <if test="updatefile.filePath != null and updatefile.filePath != ''">
                file_path = #{updatefile.filePath},
            </if>

            <!-- 创建时间 -->
            <if test="updatefile.createTime != null">
                create_time = #{updatefile.createTime},
            </if>

            <!-- 最后更新时间 -->
            <if test="updatefile.lastUpdateTime != null">
                last_update_time = #{updatefile.lastUpdateTime},
            </if>

            <!-- 是否文件夹 -->
            <if test="updatefile.folderType != null">
                folder_type = #{updatefile.folderType},
            </if>

            <!-- 文件大类 -->
            <if test="updatefile.fileCategory != null">
                file_category = #{updatefile.fileCategory},
            </if>

            <!-- 文件细分类型 -->
            <if test="updatefile.fileType != null">
                file_type = #{updatefile.fileType},
            </if>

            <!-- 转码状态 -->
            <if test="updatefile.status != null">
                status = #{updatefile.status},
            </if>

            <!-- 回收站时间 -->
            <if test="updatefile.recoveryTime != null and updatefile.recoveryTime != ''">
                recovery_time = #{updatefile.recoveryTime},
            </if>

            <!-- 删除标记 -->
            <if test="updatefile.delFlag != null">
                del_flag = #{updatefile.delFlag},
            </if>
        </set>
        where file_id = #{file_Id} and user_id = #{user_Id} and status = #{oldstatus}
    </update>
    <update id="updateFileDelFlagBatch">
        update file_info
        <set>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.filePid != null">
                file_pid = #{bean.filePid},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.fileCover != null">
                file_cover = #{bean.fileCover},
            </if>
            <if test="bean.filePath != null">
                file_path = #{bean.filePath},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time = #{bean.lastUpdateTime},
            </if>
            <if test="bean.folderType != null">
                folder_type = #{bean.folderType},
            </if>
            <if test="bean.fileCategory != null">
                file_category = #{bean.fileCategory},
            </if>
            <if test="bean.fileType != null">
                file_type = #{bean.fileType},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.recoveryTime != null">
                recovery_time = #{bean.recoveryTime},
            </if>
            <if test="bean.delFlag != null">
                del_flag = #{bean.delFlag},
            </if>
        </set>
        where user_id = #{userId}
        <if test="filePidList!=null">
            and file_pid in(<foreach collection="filePidList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="fileIdList!=null">
            and file_id in(<foreach collection="fileIdList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="oldDelFlag!=null">
            and del_flag = #{oldDelFlag}
        </if>
    </update>
    <delete id="delFileBatch">
        delete from file_info where user_id = #{userId}
        <if test="filePidList!=null">
            and file_pid in(<foreach collection="filePidList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="fileIdList!=null">
            and file_id in(<foreach collection="fileIdList" separator="," item="item">#{item}</foreach>)
        </if>
        <if test="oldDelFlag!=null">
            and del_flag = #{oldDelFlag}
        </if>
    </delete>

    <select id="LoadDateList" resultType="com.yulong.easypan.entity.vo.FileInfoVO">
        select * from file_info
        <where>
            <if test="fileId != null and fileId != ''">
                AND file_id = #{fileId}
            </if>
            <!-- 用户ID -->
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <!-- 文件MD5 -->
            <if test="fileMd5 != null and fileMd5 != ''">
                AND file_md5 = #{fileMd5}
            </if>
            <!-- 父级ID -->
            <if test="filePid != null and filePid != ''">
                AND file_pid = #{filePid}
            </if>
            <!-- 文件大小 -->
            <if test="fileSize != null">
                AND file_size = #{fileSize}
            </if>
            <!-- 文件名称 -->
            <if test="fileName != null and fileName != ''">
                AND file_name = #{fileName}
            </if>
            <!-- 封面 -->
            <if test="fileCover != null and fileCover != ''">
                AND file_cover = #{fileCover}
            </if>
            <!-- 文件路径 -->
            <if test="filePath != null and filePath != ''">
                AND file_path = #{filePath}
            </if>
            <!-- 创建时间 -->
            <if test="createTime != null and createTime != ''">
                AND create_time = #{createTime}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <!-- 最后更新时间 -->
            <if test="lastUpdateTime != null">
                AND last_update_time = #{lastUpdateTime}
            </if>
            <!-- 是否文件夹 -->
            <if test="folderType != null">
                AND folder_type = #{folderType}
            </if>
            <!-- 文件大类 -->
            <if test="fileCategory != null">
                AND file_category = #{fileCategory}
            </if>
            <!-- 文件细分类型 -->
            <if test="fileType != null">
                AND file_type = #{fileType}
            </if>
            <!-- 转码状态 -->
            <if test="status != null">
                AND status = #{status}
            </if>

            <!-- 回收站时间 -->
            <if test="recoveryTime != null and recoveryTime != ''">
                AND recovery_time = #{recoveryTime}
            </if>
            <!-- 删除标记 -->
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
            <if test="orderBy != null">
                order by #{orderBy}
            </if>
        </where>
    </select>
    <select id="selectUserSpace" resultType="java.lang.Long">
        select ifnull(sum(file_size),0) from file_info where user_id = #{userId}
    </select>
    <select id="selectAllfileinfo" resultType="com.yulong.easypan.entity.pjo.FileInfo">
        select * from file_info
        <where>
            <if test="fileId != null and fileId != ''">
                AND file_id = #{fileId}
            </if>
            <!-- 用户ID -->
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <!-- 文件MD5 -->
            <if test="fileMd5 != null and fileMd5 != ''">
                AND file_md5 = #{fileMd5}
            </if>
            <!-- 父级ID -->
            <if test="filePid != null and filePid != ''">
                AND file_pid = #{filePid}
            </if>
            <!-- 文件大小 -->
            <if test="fileSize != null">
                AND file_size = #{fileSize}
            </if>
            <!-- 文件名称 -->
            <if test="fileName != null and fileName != ''">
                AND file_name = #{fileName}
            </if>
            <!-- 封面 -->
            <if test="fileCover != null and fileCover != ''">
                AND file_cover = #{fileCover}
            </if>
            <!-- 文件路径 -->
            <if test="filePath != null and filePath != ''">
                AND file_path = #{filePath}
            </if>
            <!-- 创建时间 -->
            <if test="createTime != null and createTime != ''">
                AND create_time = #{createTime}
            </if>
            <if test="createTimeEnd != null ">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <!-- 最后更新时间 -->
            <if test="lastUpdateTime != null ">
                AND last_update_time = #{lastUpdateTime}
            </if>
            <!-- 是否文件夹 -->
            <if test="folderType != null">
                AND folder_type = #{folderType}
            </if>
            <!-- 文件大类 -->
            <if test="fileCategory != null">
                AND file_category = #{fileCategory}
            </if>
            <!-- 文件细分类型 -->
            <if test="fileType != null">
                AND file_type = #{fileType}
            </if>
            <!-- 转码状态 -->
            <if test="status != null">
                AND status = #{status}
            </if>

            <!-- 回收站时间 -->
            <if test="recoveryTime != null and recoveryTime != ''">
                AND recovery_time = #{recoveryTime}
            </if>
            <!-- 删除标记 -->
            <if test="delFlag != null">
                AND del_flag = #{delFlag}
            </if>
            <if test="fileIdArray != null and fileIdArray.length>0">
                and file_id in
                <foreach collection="fileIdArray" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="excludeFileIdArray != null and excludeFileIdArray.length>0">
                and file_id not in
                <foreach collection="excludeFileIdArray" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="orderBy != null">
                order by #{orderBy}
            </if>
        </where>
    </select>
    <select id="selectByUserAndFileId" resultType="com.yulong.easypan.entity.pjo.FileInfo">
        select  * from file_info where  file_id = #{fileId} and user_id = #{userId}
    </select>
</mapper>